@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cabin&family=Secular+One&display=swap");
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
}

button {
  background-color: black;
  border-radius: 6px;
  width: 40%;
  color: white;
}

.nav {
  background-color: black;
}
.nav ul li a {
  color: white;
}
.nav ul li a:hover {
  color: blueviolet;
}
.nav img {
  width: 100px;
}

.productosindex {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.productosindex img {
  width: 50%;
  margin: 5px;
}
.productosindex button {
  background: #000;
  color: white;
  width: 40%;
}
.productosindex p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.productosindex figcaption {
  font-size: 1.4em;
}

.videojuegosxbox {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.videojuegosxbox img {
  width: 50%;
  margin: 5px;
}
.videojuegosxbox p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.videojuegosxbox figcaption {
  font-size: 1.4em;
}

.videojuegosps5 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.videojuegosps5 img {
  width: 50%;
  margin: 5px;
}
.videojuegosps5 p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.videojuegosps5 figcaption {
  font-size: 1.4em;
}

/*pantalla-productos*/
/*estilos-productos*/
.productos {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.productos figure {
  border-radius: 3px;
  color: black;
}
.productos img {
  width: 50%;
  margin: 5px;
}
.productos p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.productos figcaption {
  font-size: 1.4em;
}

.consolasyvideojuegos {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  padding: 10px;
  text-align: center;
}
.consolasyvideojuegos img {
  width: 50%;
  margin: 5px;
}
.consolasyvideojuegos p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.consolasyvideojuegos figcaption {
  font-size: 1.4em;
}
.consolasyvideojuegos figure {
  margin-top: 10px;
}

/*Pantalla Ofertas*/
.ofertas {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  align-items: center;
  align-content: center;
  padding: 10px;
  text-align: center;
}
.ofertas img {
  width: 50%;
  margin: 5px;
}
.ofertas p {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
}
.ofertas figcaption {
  font-size: 1.4em;
}

/*Pantalla-contacto*/
/*estilos header*/
#contenedorheader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "contactanos" "llamanos" "visitanos";
  justify-content: center;
  text-align: center;
  align-items: center;
}

#contactanos {
  grid-area: contactanos;
  padding: 3%;
  margin: 2px;
}

#llamanos {
  grid-area: llamanos;
  padding: 3%;
  margin: 2px;
}

#visitanos {
  grid-area: visitanos;
  padding: 3%;
  margin: 2px;
}

/*estilos footer*/
#footer {
  background-color: rgb(93, 92, 82);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#footer img {
  width: 50px;
  margin: 5px;
}
#footer h3 {
  color: black;
}

#logo {
  grid-area: logo;
}

#contact {
  grid-area: contact;
}

#seguinos {
  grid-area: seguinos;
}

/*media-quaries-tablet*/
@media (min-width: 768px) {
  .productosindex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .videojuegosxbox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .videojuegosps5 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  #contenedorheader {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "contactanos llamanos visitanos";
  }
  #footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .consolasyvideojuegos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
/*media-quaries-desktop*/
@media (min-width: 1024px) {
  .productosindex {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .videojuegosxbox {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .videojuegosps5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .productos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .consolasyvideojuegos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=main.css.map */
