p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1{
    
    font-weight: 700;
    font-size: 2.2em;
    font-family:'Times New Roman', Times, serif;
    
     }

h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8em;
    
}

h3{ 
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
}

p{
    font-size: 1em;
}

.imgerror {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



// mixin

@mixin botones ($borde , $width, $color) {
    background-color: $colorprincipal;
    border-radius: $borde;
    width: $width ;
    color: $color;
}

button{
    @include botones(6px,60% ,white )
}