/*estilos footer*/


.footer{
    width: 100%;
    height: auto;
    background-color: grey;
    

    .piedepagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }

    img{
        width: 120px;
    }

    
    }
