/*estilos footer*/


.footer{
    width: 100%;
    height: auto;
    background-color: rgb(94, 93, 82);
    

    .piedepagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        
    }

    img{
        width: 50px;
  
    }



    h3{
        color: #000;
        font-family: 'Fira Sans Extra Condensed', sans-serif;

    }


    a{
        text-decoration: none;
    }

    
    }
